{% extends 'products/base.html' %}

{% block content %}
<main style="background-color: white;">
    <h1>Update Product</h1>
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="Update" class="btn btn-primary" name="Add Product">
        </form>
    </div>
</main>

<style>
    .btn-primary {
        margin-left: 50%;
        margin-right: auto;
    }
</style>
{% endblock content %}