

{% extends 'users/userbase.html' %}

{% block content %}
<section class="signup" style="background-image: url(images/Rock.jfif)">
    <div class="center">

        <form method="POST" action="">
            {%csrf_token%}
            <table>
                <tr>
                    <td style="width: 33.33%;">
                        <div class="dash"></div>
                    </td>
                    <td style="padding: 0 6px;">
                        <h1>Reset Password</h1>
                    </td>
                    <td style="width: 33.33%;">
                        <div class="dash"></div>
                    </td>
                </tr>
{{ form.new_password1.errors }}
                <tr>
                    <td colspan="3">
                        <div>
                            {{form.new_password1}}
                        </div>
                    </td>
                </tr>
                <tr>
                    {{ form.new_password2.errors }}
                    <td colspan="3">
                        <div>
                            {{form.new_password2}}
                        </div>
                    </td>
                </tr>


                <tr>
                    <td colspan="3">
                        <div>
                            <input type="submit" value="Reset Password" style="background-color: lightblue;">
                        </div>

                    </td>
                </tr>

            </table>
        </form>

        <script>

            var form_fields = document.getElementsByTagName('input');


            form_fields[1].placeholder = 'Password...';
            form_fields[2].placeholder = 'Confirm Password...';

            for (var field in form_fields) {
                form_fields[field].className += 'form-control'
            }


        </script>

</section>
{% endblock content%}

