{%extends 'products/base.html'%}
{%block content%}
    
  {%load static%}
    
    <!-- Sidebar on small screens when clicking the menu icon -->
<div class="break1 container-fluid text-center" style="background-image: url(images/waterrocks.jfif)">
    <h3 class="header-about-us">Come connect with us!</h3>
</div>
    <!-- About Section -->
    <section class="main-about">
    <div class="w3-container about-company" style="padding:128px 16px" id="about">
        <h3 class="w3-center">ABOUT THE COMPANY</h3>
        <p class="w3-center w3-large">Key features of our company</p>
        <div class="w3-row-padding w3-center" style="margin-top:64px">
            <div class="w3-quarter">
                <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
                <p class="w3-large">Water</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore.</p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
                <p class="w3-large">Water Services</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore.</p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
                <p class="w3-large">Water Products</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore.</p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
                <p class="w3-large">Other Services</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore.</p>
            </div>
        </div>
    </div>

    
    <!-- Team Section -->
    <div class="w3-container" style="padding:128px 16px" id="team">
        <section class="ourteam">
            <div class="teamdiv center ">
                <h1 class="teamheader">Our Team</h1>
        
                <div class="slider-container">
                    <span id="slider-image-1"></span>
                    <span id="slider-image-2"></span>
                    <span id="slider-image-3"></span>
                    <div class="teamrow">
        
                        <div class="row1">
                            <div class="team1 center">
                                <div class="image1">
                                    <img class="image" src="{% static 'images/arrow_up.jpg' %}"  alt="IMG-OUR" />
                                </div>
                                <h3 class="name">Name1</h3>
                                <h3 class="position">Director</h3>
                                <hr />
                                <p class="description">Dedicated fellow</p>
                            </div>
        
                            <div class="team1 center">
                                <div class="image1">
                                    <img class="image" src="{% static 'images/arrow_up.jpg' %}"  alt="IMG-OUR" />
                                </div>
                                <h3 class="name">Name</h3>
                                <h3 class="position">Director</h3>
                                <hr />
                                <p class="description">Dedicated fellow</p>
                            </div>
        
        
                            <div class="team1">
                                <div class="image1">
                                    <img class="image"src="{% static 'images/arrow_up.jpg' %}"  alt="IMG-OUR" />
                                </div>
                                <h3 class="name">Name</h3>
                                <h3 class="position">Director</h3>
                                <hr />
                                <p class="description">Dedicated fellow</p>
                            </div>
        
                        </div>
        
                        <div class="row1">
                            <div class="team1 center">
                                <div class="image1">
                                    <img class="image" src="{% static 'images/arrow_up.jpg' %}"  alt="IMG-OUR" />
                                </div>
                                <h3 class="name">Name2</h3>
                                <h3 class="position">Director</h3>
                                <hr />
                                <p class="description">Dedicated fellow</p>
                            </div>
        
                            <div class="team1 center">
                                <div class="image1">
                                    <img class="image" src="{% static 'images/arrow_up.jpg' %}"  alt="IMG-OUR" />
                                </div>
                                <h3 class="name">Name</h3>
                                <h3 class="position">Director</h3>
                                <hr />
                                <p class="description">Dedicated fellow</p>
                            </div>
        
        
                            <div class="team1 center">
                                <div class="image1">
                                    <img class="image" src="{% static 'images/arrow_up.jpg' %}" alt="IMG-OUR" />
                                </div>
                                <h3 class="name">Name</h3>
                                <h3 class="position">Director</h3>
                                <hr />
                                <p class="description">Dedicated fellow</p>
                            </div>
        
                        </div>
        
                        <div class="row1">
                            <div class="team1 center">
                                <div class="image1">
                                    <img class="image" src="{% static 'images/arrow_up.jpg' %}" alt="IMG-OUR" />
                                </div>
                                <h3 class="name">Name3</h3>
                                <h3 class="position">Director</h3>
                                <hr />
                                <p class="description">Dedicated fellow</p>
                            </div>
                            
                            <div class="team1 center">
                                <div class="image1">
                                    <img class="image" src="{% static 'images/arrow_up.jpg' %}" alt="IMG-OUR" />
                                </div>
                                <h3 class="name">Name</h3>
                                <h3 class="position">Director</h3>
                                <hr />
                                <p class="description">Dedicated fellow</p>
                            </div>
        
        
                            <div class="team1 center">
                                <div class="image1">
                                    <img class="image" src="{% static 'images/arrow_up.jpg' %}" alt="IMG-OUR" />
                                </div>
                                <h3 class="name">Name</h3>
                                <h3 class="position">Director</h3>
                                <hr />
                                <p class="description">Dedicated fellow</p>
                            </div>
        
                        </div>
        
                    </div>
        
                    <!--Radio buttons to allow pressing-->
                    <div class="button-container">
                        <a href="#slider-image-1" class="slider-button"></a>
                        <a href="#slider-image-2" class="slider-button"></a>
                        <a href="#slider-image-3" class="slider-button"></a>
                    </div>
        
                </div>
            </div>
        </section>

    </div>
    
    <!-- Promo Section "Statistics" -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
        <div class="w3-quarter">
            <span class="w3-xxlarge">14+</span>
            <br>Partners
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">55+</span>
            <br>
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">20+</span>
            <br>Happy Clients
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">10+</span>
            <br>Deliveries
        </div>
    </div>
    

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>

  
    <!-- Contact Section -->
    <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
        <h3 class="w3-center">CONTACT</h3>
        <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
        <div style="margin-top:48px">
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Umoja, Nairobi Kenya</p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: 0700 151515</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
            <br>
          
            <!-- Image of location/map -->
           
        </div>
    </div>

    <div class="container-contact">
        <form id="contact" action="" method="post">
            <h3>Contact Us</h3>
            <h4>Contact us for custom quote</h4>
            <fieldset>
                <input placeholder="Your name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
            </fieldset>
          
            <fieldset>
                <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
    
    </section>
{%endblock content%}
